In [2]:
# Web API Using Requests and JSON
import requests
import json
import pandas as pd

In [3]:
df_url = 'https://opendata.fluvius.be/explore/dataset/1_06b-verbruiksgegevens-statistische-sector-met-nace-sector/download/?format=csv&timezone=Europe/Brussels&lang=en&use_labels_for_header=true&csv_separator=%3B'
df = pd.read_csv(df_url,sep = ';')
df.head()

,Verbruiksjaar,Markt,Richting,Statistische Sector,Provincie,Gemeente,Sector,Rol Contact,Aantal,Benaderend Verbruik (kWh)
0,2018,Aardgas,Afname,11001A01-,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,958,15257528.61
1,2018,Aardgas,Afname,11001A020,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,217,4433613.10
2,2018,Aardgas,Afname,11001A030,ANTWERPEN,AARTSELAAR,Industrie,Bedrijf,11,5819948.79
3,2018,Aardgas,Afname,11001A030,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,140,2131565.39
4,2018,Aardgas,Afname,11001A042,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,110,3072323.35

In [4]:
Aardgas = df[ df['Markt'] == 'Aardgas' ]
Aardgas.head()

,Verbruiksjaar,Markt,Richting,Statistische Sector,Provincie,Gemeente,Sector,Rol Contact,Aantal,Benaderend Verbruik (kWh)
0,2018,Aardgas,Afname,11001A01-,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,958,15257528.61
1,2018,Aardgas,Afname,11001A020,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,217,4433613.10
2,2018,Aardgas,Afname,11001A030,ANTWERPEN,AARTSELAAR,Industrie,Bedrijf,11,5819948.79
3,2018,Aardgas,Afname,11001A030,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,140,2131565.39
4,2018,Aardgas,Afname,11001A042,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,110,3072323.35

In [5]:
Elektriciteit = df[(df['Markt'] == 'Elektriciteit') & (df['Verbruiksjaar'] == 2021)]
Elektriciteit.head()

,Verbruiksjaar,Markt,Richting,Statistische Sector,Provincie,Gemeente,Sector,Rol Contact,Aantal,Benaderend Verbruik (kWh)
49103,2021,Elektriciteit,Afname,zzzz,NaN,NaN,Huishoudens,Persoon,4,26362.53
49105,2021,Elektriciteit,Afname,11001A00-,ANTWERPEN,AARTSELAAR,Empty/onbekend,Bedrijf,53,128968.65
49107,2021,Elektriciteit,Afname,11001A00-,ANTWERPEN,AARTSELAAR,Huishoudens,Persoon,1170,3264677.01
49109,2021,Elektriciteit,Afname,11001A020,ANTWERPEN,AARTSELAAR,Tertiaire sector,Bedrijf,47,760036.13
49111,2021,Elektriciteit,Afname,11001A020,ANTWERPEN,AARTSELAAR,Transport,Bedrijf,3,17591.67

In [9]:
elektriciteitsgebruik_sector = pd.pivot_table(Elektriciteit, index = ['Sector'], values= 'Benaderend Verbruik (kWh)', aggfunc = sum)
elektriciteitsgebruik_sector.head(20)

                               Benaderend Verbruik (kWh)
Sector
Empty/onbekend                              4.438353e+08
Energiesector                               1.039696e+09
Huishoudens                                 8.830525e+09
Industrie                                   9.720112e+09
Landbouw, bosbouw en visserij               1.970449e+09
Openbare verlichting                        8.331165e+07
Rest                                        4.135086e+09
Tertiaire sector                            1.038309e+10
Transport                                   2.075051e+08

In [6]:
elektriciteitsgebruik_sector

NameError: name 'elektriciteitsgebruik_sector' is not defined