In [1]:
import pandasdmx as sdmx

/Users/dorjbaam/opt/anaconda3/lib/python3.9/site-packages/pandasdmx/remote.py:11: RuntimeWarning: optional dependency requests_cache is not installed; cache options to Session() have no effect
  warn(

In [2]:
estat = sdmx.Request('ESTAT')

In [3]:
estat.default_locale

'en'

In [4]:
estat.default_locale = 'nl'

In [5]:
metadata = estat.datastructure('DSD_une_rt_a')

In [6]:
metadata

<pandasdmx.StructureMessage>
  <Header>
    id: 'IDREF1423095'
    prepared: '2022-10-15T22:33:28.531000+00:00'
    receiver: <Agency Unknown>
    sender: <Agency Unknown>
    source:
    test: False
  response: <Response [200]>
  Codelist (7): CL_AGE CL_FREQ CL_GEO CL_OBS_FLAG CL_OBS_STATUS CL_SEX ...
  ConceptScheme (1): CS_DSD_une_rt_a
  DataStructureDefinition (1): DSD_une_rt_a

In [7]:
for cl in 'CL_AGE', 'CL_UNIT':
    print(sdmx.to_pandas(metadata.codelist[cl]))

                       name  parent
CL_AGE
Y15-24  From 15 to 24 years  CL_AGE
Y15-29  From 15 to 29 years  CL_AGE
Y15-74  From 15 to 74 years  CL_AGE
Y20-64  From 20 to 64 years  CL_AGE
Y25-54  From 25 to 54 years  CL_AGE
Y25-74  From 25 to 74 years  CL_AGE
Y55-74  From 55 to 74 years  CL_AGE
                                                 name   parent
CL_UNIT
THS_PER                              Thousand persons  CL_UNIT
PC_POP                 Percentage of total population  CL_UNIT
PC_ACT   Percentage of population in the labour force  CL_UNIT

In [8]:
resp = estat.data(
    'une_rt_a',
    key={'GEO': 'EL+ES+IE'},
    params={'startPeriod': '2007'},
    )

2022-10-16 00:34:20,864 pandasdmx.reader.sdmxml - INFO: Use supplied dsd=… argument for non–structure-specific message

In [9]:
data = resp.to_pandas(
    datetime={'dim': 'TIME_PERIOD', 'freq': 'FREQ'}).xs('Y15-74', level='AGE',
        axis=1, drop_level=False)

In [12]:
data.columns.names

FrozenList(['AGE', 'UNIT', 'SEX', 'GEO'])

In [13]:
data.columns.levels

FrozenList([['Y15-24', 'Y15-29', 'Y15-74', 'Y20-64', 'Y25-54', 'Y25-74', 'Y55-74'], ['PC_ACT', 'PC_POP', 'THS_PER'], ['F', 'M', 'T'], ['EL', 'ES', 'IE']])

In [14]:
data.loc[:, ('Y15-74', 'PC_ACT', 'T')]

GEO            EL    ES    IE
TIME_PERIOD
2007          NaN   NaN   NaN
2008          NaN   NaN   NaN
2009          9.8  17.9  12.6
2010         12.9  19.9  14.6
2011         18.1  21.4  15.4
2012         24.8  24.8  15.5
2013         27.8  26.1  13.8
2014         26.6  24.5  11.9
2015         25.0  22.1   9.9
2016         23.9  19.6   8.4
2017         21.8  17.2   6.7
2018         19.7  15.3   5.8
2019         17.9  14.1   5.0
2020         17.6  15.5   5.9
2021         14.7  14.8   6.2

In [ ]:
#create a dictionary with land codes and names of all EU27 countries